.container {
  width: 100%;
  display: grid;
  grid-template-columns: calc(80vw - 880px) 880px;
  height: 100%;
}

.ranking {
  width: 100%;
  height: 100%;
}

.tweets {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  align-items: flex-start;
  position: relative;
  scroll-behavior: smooth;
}

.tweets::-webkit-scrollbar {
  display: none;
}
