.title {
  font-size: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 32px;
  padding-top: 128px;
}

.content > section {
  margin: 64px 0;
  max-width: 1280px;
  width: 100%;
}

.stats {
  padding-left: 120px;
  display: flex;
  gap: 64px;
}
