.title {
  font-size: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 96px;
  padding-top: 64px;
}

.content > section {
  margin: 64px 0;
  max-width: 1280px;
  width: 100%;
}

.container {
  background-color: var(--main-color);
  min-height: 100vh;
  transition: all 1s ease-in-out;
}

.header {
  background-color: var(--main-color);
}

.loadingContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
