.container {
  width: 100%;
  height: 600px;
  display: flex;
  gap: 64px;
  margin: 64px 0px;
}

.graph {
  width: 50%;
}

.tweets {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-end;
}

.tweets::-webkit-scrollbar {
  display: none;
}
