@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --num 3s;
  counter-reset: num var(--num);
  color: #19191a;
  font-weight: bold;
}

.counter::after {
  content: counter(num);
}

.suffix {
  color: #2b2b2b;
  margin-top: 6px;
  font-weight: lighter;
}

.container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.container > span {
  color: #2b2b2b;
  margin-bottom: -8px;
}
