.stats {
  padding-left: 64px;
  display: flex;
  gap: 128px;
  margin: 30px 60px;
  margin-top: 0;
}

.title {
  font-size: 4vw;
  font-weight: bold;
  color: var(--text-color);
  font-weight: 700;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.introductionText {
  font-size: 1.5vw;
  text-align: justify;
  color: var(--text-color);
  font-weight: 400;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.zoomText {
  font-size: 1.2vw;
  text-align: justify;
  color: var(--text-color);
  font-weight: lighter;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
