#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

svg {
  overflow: visible;
}

.tweets {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tweets::-webkit-scrollbar {
  display: none;
}

.tweet-box-header {
  display: flex;
}

.tweet-box-header > div {
  margin-left: 12px;
}

.tweet-header-name {
  display: flex;
}

.tweet-header-name > img {
  margin-top: 5px;
  margin-left: 4px;
}

.tweet-box {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 16px;
  max-width: 468px;
}

.tweet-box:hover {
  background-color: #eee;
}

.tweet-img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.tweet-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.tweet-handle {
  color: #888;
  margin-bottom: 1px;
  font-size: 12px;
}

.tweet-text {
  color: #0f1419;
}

.tweet-date {
  font-size: 12px;
  padding-bottom: 8px;
  opacity: 0.5;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto 468px;
}

.dataset-radios {
  position: absolute;
  left: 100px;
  top: 32px;
}

/* ------ */

.tweets-ranking {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
